/* line 3, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 {
  width: 450px;
  padding: 20px 30px 50px 40px;
  background: #8d9d4e url(../images/chips-w200.png) no-repeat -20% 170%;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

/* line 11, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 blockquote p {
  color: rgba(255, 255, 255, 0.95);
  font-size: 21px;
  line-height: 26px;
  text-align: right;
  color: #3a6f8f;
  text-transform: none;
  font-weight: bold;
}

/* line 21, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 blockquote p span {
  font-weight: 700;
  color: #fcf779;
  font-size: 58px;
  line-height: 58px;
  display: block;
  padding: 10px;
  text-shadow: 7px 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-7deg) translateY(10px);
  -moz-transform: rotate(-7deg) translateY(10px);
  -o-transform: rotate(-7deg) translateY(10px);
  -ms-transform: rotate(-7deg) translateY(10px);
  transform: rotate(-7deg) translateY(10px);
}

/* line 35, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 blockquote p span:before {
  font-family: 'icons';
  content: '\275d';
  font-weight: normal;
  opacity: 0.1;
  font-size: 136px;
  position: absolute;
  color: #fff;
  top: -50px;
  left: -25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 52, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 .mb-attribution {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  background: #222;
  position: absolute;
  width: 100%;
  left: -30px;
  bottom: 0px;
  text-align: center;
  padding: 5px;
  -webkit-transform: rotate(-20deg) translate(185px, 60px);
  -moz-transform: rotate(-20deg) translate(185px, 60px);
  -o-transform: rotate(-20deg) translate(185px, 60px);
  -ms-transform: rotate(-20deg) translate(185px, 60px);
  transform: rotate(-20deg) translate(185px, 60px);
  -webkit-backface-visibility: hidden;
}

/* line 71, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 .mb-author:before {
  content: '\2014';
  padding-right: 4px;
}

/* line 76, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 .mb-attribution cite a {
  color: #777;
  font-size: large;
}

/* line 81, /Applications/MAMP/htdocs/codesnippets/modernblockquotes2/scss/style4.scss */
.mb-style-4 .mb-attribution cite a:hover {
  color: #fcf779;
}
